#NOTE: Actual env file should be named .env.secrets
#WARN: Do not push your actual .env.secrets file to the public
  - name: bls
    description: "Bureau Of Labor Statistics Public API"
    credential: <INPUT> 
  - name: adzuna
    description: "Adzuna Public API"
    appid: <INPUT>
    credential: <INPUT>
  - name: fred
    description: "FRED Public API"
    credential: <INPUT> 
  - name: acs
    description: "Census Bureau (ACS) Public API"
    credential: <INPUT> 
  - name: dbt-databricks
    description: "dbt connecter for Databricks"
      credential: <INPUT> 
      hostname: <INPUT>



