# Actual env file should be named .env.secrets
#WARN: Do not push your actual .env.secrets file to the public

#INFO: "Bureau Of Labor Statistics Public API"
BLS_API_KEY=

#INFO: "Adzuna Public API"
ADZUNA_APP_ID=
ADZUNA_API_KEY=

#INFO: "FRED Public API"
FRED_API_KEY=

#INFO: "Census Bureau (ACS) Public API"
ACS_API_KEY=

#INFO: "dbt connecter for Databricks"
DATABRICKS_TOKEN=
DATABRICKS_HOST=



